/*
  Author:wellwap Team. 2015
  Email:wellwap@qq.com
*/
* { margin: 0; padding: 0;}
body { font: 16px/1.8 "Microsoft Yahei",verdana;}

/*common css*/
#page {margin:0 auto;padding:0;width:100%;height:auto;height:100%;position:relative;overflow:hidden;}
#page>img { width:100%; height:auto;border:0;}
#page ul { width:100%; height:100%; margin:0; padding:0; position:absolute;left:0;top:0; overflow:hidden;}
#page ul li { width:16.6%; height:auto; padding:20px 0; float:left;position:relative; text-align:center; overflow:visible; list-style:none;}
#page ul li img { width:70%; height:auto; text-align:center; vertical-align:middle;}

/*application css*/
.p09 img,.p19 img,.p25 img
{
  -webkit-animation:shake linear 2s both infinite;
  -moz-animation:shake linear 2s both infinite;
  -ms-animation:shake linear 2s both infinite;
  animation:shake linear 2s both infinite;
}
.p04 img,.p10 img,.p17 img
{
  -webkit-animation:shake2 linear 1.5s both infinite;
  -moz-animation:shake2 linear 1.5s both infinite;
  -ms-animation:shake2 lineart 1.5s both infinite;
  animation:shake2 linear 1.5s both infinite;
}
.p02 img,.p08 img,.p15 img
{
  -webkit-animation:shake3 linear 2s both infinite;
  -moz-animation:shake3 linear 2s both infinite;
  -ms-animation:shake3 linear 2s both infinite;
  animation:shake3 linear 2s both infinite;
}
.p39 img,.p47 img,.p50 img
{
  -webkit-animation:shake4 linear 2s both infinite;
  -moz-animation:shake4 linear 2s both infinite;
  -ms-animation:shake4 linear 2s both infinite;
  animation:shake4 linear 2s both infinite;
}
.p01 img,.p06 img,.p49 img
{
  -webkit-animation:shake5 linear 2s both infinite;
  -moz-animation:shake5 linear 2s both infinite;
  -ms-animation:shake5 linear 2s both infinite;
  animation:shake5 linear 2s both infinite;
}
.p05 img,.p12 img,.p20 img
{
  -webkit-animation:shake6 linear 2s both infinite;
  -moz-animation:shake6 linear 2s both infinite;
  -ms-animation:shake6 linear 2s both infinite;
  animation:shake6 linear 2s both infinite;
}
.p07 img,.p43 img,.p40 img
{
  -webkit-animation:shake7 linear 2s both infinite;
  -moz-animation:shake7 linear 2s both infinite;
  -ms-animation:shake7 linear 2s both infinite;
  animation:shake7 linear 2s both infinite;
} 
.p11 img,.p21 img,.p42 img
{
  -webkit-animation:shake8 linear 2s both infinite;
  -moz-animation:shake8 linear 2s both infinite;
  -ms-animation:shake8 linear 2s both infinite;
  animation:shake8 linear 2s both infinite;
} 
.p26 img,.p31 img,.p44 img,.p46 img
{
  -webkit-animation:shake9 linear 2s both infinite;
  -moz-animation:shake9 linear 2s both infinite;
  -ms-animation:shake9 linear 2s both infinite;
  animation:shake9 linear 2s both infinite;
} 
.p30 img,.p38 img,.p41 img,.p45 img
{
  -webkit-animation:shake10 linear 2s both infinite;
  -moz-animation:shake10 linear 2s both infinite;
  -ms-animation:shake10 linear 2s both infinite;
  animation:shake10 linear 2s both infinite;
} 

.p29 img,.p36 img,.p48 img
{
  -webkit-animation:shake07 linear 2s both infinite;
  -moz-animation:shake07 linear 2s both infinite;
  -ms-animation:shake07 linear 2s both infinite;
  animation:shake07 linear 2s both infinite;
}
.p18 img,.p27 img,.p34 img
{
  -webkit-animation:shake06 linear 2s both infinite;
  -moz-animation:shake06 linear 2s both infinite;
  -ms-animation:shake06 linear 2s both infinite;
  animation:shake06 linear 2s both infinite;
}
.p16 img,.p33 img,.p37 img
{
  -webkit-animation:shake05 linear 2s both infinite;
  -moz-animation:shake05 linear 2s both infinite;
  -ms-animation:shake05 linear 2s both infinite;
  animation:shake05 linear 2s both infinite;
}
.p24 img,.p35 img,.p28 img
{
  -webkit-animation:shake04 linear 2s both infinite;
  -moz-animation:shake04 linear 2s both infinite;
  -ms-animation:shake04 linear 2s both infinite;
  animation:shake04 linear 2s both infinite;
}
.p03 img,.p14 img,.p22 img
{
  -webkit-animation:shake03 linear 2s both infinite;
  -moz-animation:shake03 linear 2s both infinite;
  -ms-animation:shake03 linear 2s both infinite;
  animation:shake03 linear 2s both infinite;
}
.p23 img,.p32 img,.p13 img
{
  -webkit-animation:shake02 linear 2s both infinite;
  -moz-animation:shake02 linear 2s both infinite;
  -ms-animation:shake02 linear 2s both infinite;
  animation:shake02 linear 2s both infinite;
}

/*animation css*/
@-webkit-keyframes shake07 {
  0% {-webkit-transform:translate(-100px,-200px);}
  25% {-webkit-transform:translate(-200px,0px);}
  50% {-webkit-transform:translate(0px,100px);}
  75% {-webkit-transform:translate(-50px,-50px);}
  100% {-webkit-transform:translate(-100px,-200px);}
}
@-webkit-keyframes shake06 {
  0% {-webkit-transform:translate(-200px,0px);}
  25% {-webkit-transform:translate(-100px,150px);}
  50% {-webkit-transform:translate(0px,0px);}
  75% {-webkit-transform:translate(50px,150px);}
  100% {-webkit-transform:translate(-200px,0px);}
}
@-webkit-keyframes shake05 {
  0% {-webkit-transform:translate(-200px,50px);}
  25% {-webkit-transform:translate(-100px,150px);}
  50% {-webkit-transform:translate(-50px,250px);}
  75% {-webkit-transform:translate(150px,150px);}
  100% {-webkit-transform:translate(200px,0px);}
}
@-webkit-keyframes shake04 {
  0% {-webkit-transform:translate(-150px,100px);}
  25% {-webkit-transform:translate(-100px,150px);}
  50% {-webkit-transform:translate(0px,200px);}
  75% {-webkit-transform:translate(100px,100px);}
  100% {-webkit-transform:translate(-150px,100px);}
}
@-webkit-keyframes shake03 {
  0% {-webkit-transform:translate(-100px,100px);}
  25% {-webkit-transform:translate(-100px,200px);}
  50% {-webkit-transform:translate(0px,0px);}
  75% {-webkit-transform:translate(100px,200px);}
  100% {-webkit-transform:translate(-100px,100px);}
}
@-webkit-keyframes shake02 {
  0% {-webkit-transform:translate(100px,100px);}
  25% {-webkit-transform:translate(-100px,200px);}
  50% {-webkit-transform:translate(0px,0px);}
  75% {-webkit-transform:translate(100px,200px);}
  100% {-webkit-transform:translate(100px,100px);}
}

@-webkit-keyframes shake {
  0% {-webkit-transform:translate(200px,0);}
  25% {-webkit-transform:translate(200px,200px);}
  50% {-webkit-transform:translate(0px,0px);}
  75% {-webkit-transform:translate(0px,200px);}
  100% {-webkit-transform:translate(200px,0);}
}
@-webkit-keyframes shake2 {
  0% {-webkit-transform:translate(-200px,0);}
  25% {-webkit-transform:translate(-200px,-200px);}
  50% {-webkit-transform:translate(0px,0px);}
  75% {-webkit-transform:translate(0px,-200px);}
  100% {-webkit-transform:translate(-200px,0);}
}
@-webkit-keyframes shake3 {
  0% {-webkit-transform:translate(-150px,0);}
  25% {-webkit-transform:translate(-50px,-100px);}
  50% {-webkit-transform:translate(100px,0px);}
  75% {-webkit-transform:translate(0px,100px);}
  100% {-webkit-transform:translate(-150px,0);}
}
@-webkit-keyframes shake4 {
  0% {-webkit-transform:translate(-100px,0);}
  25% {-webkit-transform:translate(-200px,-200px);}
  50% {-webkit-transform:translate(200px,0px);}
  75% {-webkit-transform:translate(0px,-200px);}
  100% {-webkit-transform:translate(-100px,0);}
}
@-webkit-keyframes shake5 {
  0% {-webkit-transform:translate(-200px,0);}
  25% {-webkit-transform:translate(-200px,-200px);}
  50% {-webkit-transform:translate(100px,100px);}
  75% {-webkit-transform:translate(200px,-200px);}
  100% {-webkit-transform:translate(-200px,0);}
}
@-webkit-keyframes shake6 {
  0% {-webkit-transform:translate(-150px,100px);}
  25% {-webkit-transform:translate(100px,-200px);}
  50% {-webkit-transform:translate(0px,0px);}
  75% {-webkit-transform:translate(-100px,200px);}
  100% {-webkit-transform:translate(-150px,100px);}
}
@-webkit-keyframes shake7 {
  0% {-webkit-transform:translate(200px,50px);}
  25% {-webkit-transform:translate(100px,-200px);}
  50% {-webkit-transform:translate(0px,0px);}
  75% {-webkit-transform:translate(-200px,200px);}
  100% {-webkit-transform:translate(200px,50px);}
}
@-webkit-keyframes shake8 {
  0% {-webkit-transform:translate(-100px,-200px);}
  25% {-webkit-transform:translate(200px,100px);}
  50% {-webkit-transform:translate(-50px,-100px);}
  75% {-webkit-transform:translate(50px,-200px);}
  100% {-webkit-transform:translate(-100px,-200px);}
}
@-webkit-keyframes shake9 {
  0% {-webkit-transform:translate(200px,50px);}
  25% {-webkit-transform:translate(-100px,-100px);}
  50% {-webkit-transform:translate(50px,200px);}
  75% {-webkit-transform:translate(-50px,-200px);}
  100% {-webkit-transform:translate(200px,50px);}
}
@-webkit-keyframes shake10 {
  0% {-webkit-transform:translate(-50px,50px);}
  25% {-webkit-transform:translate(100px,-100px);}
  50% {-webkit-transform:translate(-50px,-100px);}
  75% {-webkit-transform:translate(200px,-200px);}
  100% {-webkit-transform:translate(-50px,50px);}
}


@keyframes shake07 {
  0% {transform:translate(-100px,-200px);}
  25% {transform:translate(-200px,0px);}
  50% {transform:translate(0px,100px);}
  75% {transform:translate(-50px,-50px);}
  100% {transform:translate(-100px,-200px);}
}
@keyframes shake06 {
  0% {transform:translate(-200px,0px);}
  25% {transform:translate(-100px,150px);}
  50% {transform:translate(0px,0px);}
  75% {transform:translate(50px,150px);}
  100% {transform:translate(-200px,0px);}
}
@keyframes shake05 {
  0% {transform:translate(-200px,50px);}
  25% {transform:translate(-100px,150px);}
  50% {transform:translate(-50px,250px);}
  75% {transform:translate(150px,150px);}
  100% {transform:translate(200px,0px);}
}
@keyframes shake04 {
  0% {transform:translate(-150px,100px);}
  25% {transform:translate(-100px,150px);}
  50% {transform:translate(0px,200px);}
  75% {transform:translate(100px,100px);}
  100% {transform:translate(-150px,100px);}
}
@keyframes shake03 {
  0% {transform:translate(-100px,100px);}
  25% {transform:translate(-100px,200px);}
  50% {transform:translate(0px,0px);}
  75% {transform:translate(100px,200px);}
  100% {transform:translate(-100px,100px);}
}
@keyframes shake02 {
  0% {transform:translate(100px,100px);}
  25% {transform:translate(-100px,200px);}
  50% {transform:translate(0px,0px);}
  75% {transform:translate(100px,200px);}
  100% {transform:translate(100px,100px);}
}

@keyframes shake {
  0% {transform:translate(200px,0);}
  25% {transform:translate(200px,200px);}
  50% {transform:translate(0px,0px);}
  75% {transform:translate(0px,200px);}
  100% {transform:translate(200px,0);}
}
@keyframes shake2 {
  0% {transform:translate(-200px,0);}
  25% {transform:translate(-200px,-200px);}
  50% {transform:translate(0px,0px);}
  75% {transform:translate(0px,-200px);}
  100% {transform:translate(-200px,0);}
}
@keyframes shake3 {
  0% {transform:translate(-150px,0);}
  25% {transform:translate(-50px,-100px);}
  50% {transform:translate(100px,0px);}
  75% {transform:translate(0px,100px);}
  100% {transform:translate(-150px,0);}
}
@keyframes shake4 {
  0% {transform:translate(-100px,0);}
  25% {transform:translate(-200px,-200px);}
  50% {transform:translate(200px,0px);}
  75% {transform:translate(0px,-200px);}
  100% {transform:translate(-100px,0);}
}
@keyframes shake5 {
  0% {transform:translate(-200px,0);}
  25% {transform:translate(-200px,-200px);}
  50% {transform:translate(100px,100px);}
  75% {transform:translate(200px,-200px);}
  100% {transform:translate(-200px,0);}
}
@keyframes shake6 {
  0% {transform:translate(-150px,100px);}
  25% {transform:translate(100px,-200px);}
  50% {transform:translate(0px,0px);}
  75% {transform:translate(-100px,200px);}
  100% {transform:translate(-150px,100px);}
}
@keyframes shake7 {
  0% {transform:translate(200px,50px);}
  25% {transform:translate(100px,-200px);}
  50% {transform:translate(0px,0px);}
  75% {transform:translate(-200px,200px);}
  100% {transform:translate(200px,50px);}
}
@keyframes shake8 {
  0% {transform:translate(-100px,-200px);}
  25% {transform:translate(200px,100px);}
  50% {transform:translate(-50px,-100px);}
  75% {transform:translate(50px,-200px);}
  100% {transform:translate(-100px,-200px);}
}
@keyframes shake9 {
  0% {transform:translate(200px,50px);}
  25% {transform:translate(-100px,-100px);}
  50% {transform:translate(50px,200px);}
  75% {transform:translate(-50px,-200px);}
  100% {transform:translate(200px,50px);}
}
@keyframes shake10 {
  0% {transform:translate(-50px,50px);}
  25% {transform:translate(100px,-100px);}
  50% {transform:translate(-50px,-100px);}
  75% {transform:translate(200px,-200px);}
  100% {transform:translate(-50px,50px);}
}


/*
.p01 img,.p02 img,.p03 img,.p04 img,.p05 img,
.p06 img,.p07 img,.p08 img,.p09 img,.p10 img,
.p11 img,.p12 img,.p13 img,.p14 img,.p15 img,
.p16 img,.p17 img,.p18 img,.p19 img,.p20 img,
.p21 img,.p22 img,.p23 img,.p24 img,.p25 img,
.p26 img,.p27 img,.p28 img,.p29 img,.p30 img,
.p31 img,.p32 img,.p33 img,.p34 img,.p35 img,
.p36 img,.p37 img,.p38 img,.p39 img,.p40 img,
.p41 img,.p42 img,.p43 img,.p44 img,.p45 img,
.p46 img,.p47 img,.p48 img,.p49 img,.p50 img
{}*/
