<?xml version="1.0" encoding="UTF-8"?>
<config version="2.0" >

    <app className="com.coco.lock2.local.app.art.LockActivity" >

        <viewWrap className="com.coco.lock2.local.app.art.LockWrap" />

        <thumb path="thumb.jpg" />

        <preview path="preview" />

        <reflection value="true" />
        
        <setting className="" />

        <author name="cooee" />

        <updatetime value="2012-11-22" />

        <introduction>蝉之翼锁屏拥有独立的三屏设计，每一屏都有其专属功能，分别为时间、天气、音乐，向右滑动快速进入相机；在时间页面时，时钟区域向下滑动还能更换头像、昵称和个性签名，打造专属你的个性！</introduction>

        <introductionEn>Cicada Wings lock screen has an independent three-screen design, each screen has its exclusive features, namely time, weather, music, slide right into the camera quickly; pages at a time, the clock can slide down the area to replace the picture , nickname and personalized signature, to create exclusive your personality!</introductionEn>
    </app>

</config>